* {
    margin: 0;
    padding: 0;
}

.first {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 2rem;
    outline: 1px solid white;
    outline-offset: -10px;
    border-radius: 50px 0 50px 0;
}

legend {
    color: #1c2f14;
    font-size: 2vh;
    background-color: #fbded8;
    font-family: monospace;
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
}

table {
    justify-content: center;
    width: 100%;
}

fieldset {
    border-style: solid;
    border-color: #fbded8;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5vh;
    border-radius: 1.5rem 0 1.5rem 0;
}

#register_country {
    font-size: 2.5vh;
}

input[type=checkbox] {
    width: 2vh;
    height: 2vh;
    font-size: 2.5vh;
}

input[type=radio] {
    width: 2vh;
    height: 2vh;
    font-size: 2.5vh;
}

label {
    color: white;
}

input,
textarea,
select {
    font-size: 2.5vh;
    background: #ebe3df;
}

select {
    height: 100%;
    font-family: monospace;
}

textarea {
    width: -webkit-fill-available;
}

option {
    background: #e6d3ca;
    color: black;
    font-family: monospace;
}

label,
input,
input placeholder {
    font-size: 3vh;
}

#fname,
#email,
#phone {
    font-size: 2.5vh;
    font-family: monospace;
    padding: 0.2rem 0.4rem;
}

.out label {
    display: inline-block;
    margin-bottom: 0.4rem;
}

#fname,
#email {
    margin-bottom: 0.2rem;
}

.div div {
    font-size: 2.5vh;
    color: white;
}

.div {
    margin-bottom: 0.5rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

option:hover {
    background-color: bisque;
}

h1 {
    color: white;
    font-size: 4vh;
    margin-bottom: 1rem;
}

p {
    font-weight: 300;
    color: white;
    user-select: none;
    text-align: center;
    text-align: justify;
    font-size: 3vh;
    margin-bottom: 1rem;
}

a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
}


/* Navigation menu */


/* Menu link item */

.menu__link {
    display: inline-block;
    text-decoration: none;
    font-size: 2.5vh;
    border: 2px solid white;
    color: white;
    position: relative;
    padding: 0.2rem;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    overflow: hidden;
    border-radius: 50px;
    transition: height 2s;
}

.menu__link:hover {
    color: #263238;
    background: white;
}

.menu_link {
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    position: relative;
    padding: 0.2rem;
    font-size: 2.5vh;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    overflow: hidden;
    border-radius: 50px;
    transition: height 2s;
}

.menu_link:hover {
    color: #1c2f14;
    background: white;
}


/* Panels Style*/


/* •••••••••••••••••••••••••••••••• */


/* Common panel style */

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
    color: #000;
    /* background-color: #ECEFF1; */
}


/* panel content (only for animation delay after open) */

.panel__content {
    opacity: 0;
    transition: all 700ms;
    transition-delay: 600ms;
}


/* Panel content animation after open */

.panel:target .panel__content {
    opacity: 1;
    margin-top: 0;
}


/*  Specific "Home "panel */


/* •••••••••••••••••••••••••••••••• */

#home {
    z-index: 1;
    background-image: url("https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
}


/*  Specific panel "second" */


/* •••••••••••••••••••••••••••••••• */

.panel#second {
    background-color: #92a089;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( 0, -100%, 0);
}

.panel#second:target {
    transform: translate3d( 0, 0, 0);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 17vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 101%;
    left: 0;
    margin-left: -7.7vw;
    font-size: 2vh;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

i {
    color: white;
}